
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateProduct</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label>Ürün Ad:</label>
                <input type="text" name="ProductName" />
            </div>
            <div>
                <label>Ürün Fiyat:</label>
                <input type="number" name="UnitPrice" />
            </div>
            <div>
                <label>Stok:</label>
                <input type="number" name="UnitsInStock" />
            </div>
            <div>
                <label>Kategori:</label>
                <input type="text" name="CategoryName" />
            </div>

            <button>Ürün ekle</button>
        </form>
    </div>
</body>
</html>
