@{ 
    string firstName = "Fatih";
    string lastName = "Günalp";
    string pageName = "Anasayfa";
   
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Anasayfa</h2>

        <ul>
            <li>@firstName</li>
            <li>@lastName</li>
            <li>@pageName</li>
        </ul>
    </div>
</body>
</html>
